#section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 0rem 2vh 0rem;
  font-size: 4vw;
}

#section1 > h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 578px) {
  #section1 {
    font-size: 6vw;
  }
}
